<div class="jumbotron center">
	<h1>Welcome to my app!</h1>
	<p>
		<%= link_to "Login", "http://tryout.io/login/", class: "btn btn-default btn-lg"%>
		<%= link_to "Sign Up", "http://tryout.io/sign-up/", class: "btn btn-primary btn-lg"%>
	</p>
</div>
